=render "users/logo"

.create
  .create__menu
    %h1 会員情報
    %h2 詳細情報
    %h3 完了

  .create
    .create__form
      .create__form--title
        %h1 アカウント登録されました。
        %h2 FURIMAをお楽しみください！

  .create
    .create__submit
      = button_to 'トップへ戻る', root_path, method: :get

= render "users/footer"
