.edit{
  @include flex_column;
  justify-content: center;
  width: 600px;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 50px;


  .edit{
    &__menu{
      margin: 20px auto;
      width: 400px;
      h1{
        font-size: 30px;
        text-align: center;
        margin: 50px 0px;
      }
      .field{
        input{
        width: 350px;
        height: 40px;
        margin-left:30px;
        padding: 0px 10px;
        border: 1px solid #bbb;
        border-radius: 5px;
        }
        &__pass{
          margin-top: 50px;
          input{
          width: 350px;
          height: 40px;
          margin-left:30px;
          padding: 10px 0px;
          border: 1px solid #bbb;
          border-radius: 5px;

          margin-bottom: 30px;
          }
        }
      }
      .actions{
        @include flexbox;
        input{
          width: 300px;
          text-decoration: none;
          line-height: 48px;
          background: #3CCACE;
          border: 1px solid #3CCACE;
          color: #fff;
          font-size: 18px;
          border-radius: 100px;
        }
      }
      .destroy{
        margin: 0 auto;
        h3{
        margin-top: 70px;
        font-size: 16px;
        text-align: center;
        }
        input{
          width: 300px;
          text-decoration: none;
          line-height: 48px;
          background: #3CCACE;
          border: 1px solid #3CCACE;
          color: #fff;
          font-size: 18px;
          border-radius: 100px;
          margin: 30px 40px;

        }
      }
    }
    
  }

}